* {
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 72px;
  padding: 0 20px;
  color: #222222;
  background: #ffffff;
  border-bottom: 1px solid #f2f2f2;
  font-family: "Euclid Circular A", "Poppins";
}

.logo,
.links {
  display: flex;
  align-items: center;
}

.logo {
  gap: 12px;
}

.logo img {
  width: 40px;
  height: 40px;
  border-radius: 6px;
}

.logo h2 {
  font-size: 20px;
  font-weight: 400;
}

.links {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-left: 20px;
}

.navbar a {
  color: inherit;
  text-decoration: none;
  transition: 0.25s;
}

a.join-link {
  display: grid;
  place-items: center;
  height: 40px;
  padding: 0 12px;
  border-radius: 6px;
  color: #f9f9f9;
  background: #050028;
}

.burger {
  display: grid;
  place-items: center;
  background: transparent;
  border: 0;
}

@media (width >= 320px) {
  .burger {
    display: none;
  }
}
.search {
  margin: 0 auto;
  position: relative;
  color: #888989;
}

@media (width >= 500px) {
  .search {
    flex: 1 1 auto;
  }
}

@media (width >= 550px) {
  .search {
    flex: 0 0 auto;
  }
}

.search span {
  position: absolute;
  top: 50%;
  left: 16px;
  translate: 0 -50%;
  z-index: 1;
  font-size: 20px;
  color: inherit;
}

.search input {
  width: 100%;
  height: 44px;
  padding-left: 46px;
  font-size: 16px;
  border: 0;
  border-radius: 8px;
  background: #eff1f2;
  color: inherit;
  font-family: inherit;
  outline: none;
}

@media (width >= 650px) {
  .search input {
    width: 280px;
  }
}





